repos:
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-black
      - id: nbqa-pylint
        args: [--disable=C0114] # Disable missing-module-docstring for notebooks
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: make test
        language: system
        types: [python]
      - id: force README.md build
        name: force README.md build
        entry: make README.md
        language: system
        types: [rst]
