# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: publish

on:
  workflow_run:
    workflows: ["auto-tag"]
    types:
      - completed

permissions:
  contents: write

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: 3.12
      - name: Set up poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.8
      - name: Install Dependencies
        run: poetry install --with dev
      - name: Lint with pylint
        run: |
          poetry run pylint $(git ls-files '*.py')
      - name: Build package
        run: poetry build
      - name: Determine latest tag
        run: |
          git fetch --prune --tags
          TAG_NAME=$(git describe --tags --abbrev=0)
          echo "Using tag $TAG_NAME"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          tag: ${{ env.TAG_NAME }}
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
